@media (max-width: 1200px) {
    .card-btn {
        font-size: 14px;
    }
    .text-media {
        font-size: 0.7rem;
    }
}

@media (max-width: 992px) {
    
    
}

@media (max-width: 768px) {
    .card-btn {
        font-size: 12px;
    }
    
}

@media (max-width: 576px) {

}


