<img class="logo-school" src="http://vannoi.edu.vn/SiteFolders/thptvannoi/5063/banner/vannoi.jpg" alt="">

<div class="main-w3layouts wrapper">
    <h1>Đăng ký tài khoản mới</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="/account/createAccount" method="POST">
          <input class="text" type="text" name="fullName" placeholder="Họ tên của bạn" required="">
          <input class="text w3lpass" type="text" name="account" placeholder="Account" required="">
          <input class="text w3lpass" type="password" name="password" placeholder="Password" required="">
        
          <input type="submit" value="Đăng ký">
          <a id="register-click" class="btn-register" href="/account/login">Đăng nhập</a>

        </form>
      </div>
    </div>

    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>