<footer class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 small mt-4 mb-4 footer-color">
                <h6>TRƯỜNG THPT VÂN NỘI</h6>
                <p class="mb-0">Địa chỉ: Đông Anh, Hà Nội</p>
                <p class="mb-0">Hotline: 02438836771</p>
                <p class="mb-0">Email: c3@vannoi.edu.vn</p>
                <p class="mb-0">Designed by VNPT</p>
            </div>

            <div class="col-lg-5 col-sm-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lQ7vFMuIkhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-4 col-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14884.271796282426!2d105.814998!3d21.149694!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49b37993f5e98e2!2zVHLGsOG7nW5nIFRIUFQgVsOibiBO4buZaQ!5e0!3m2!1svi!2sus!4v1645632632318!5m2!1svi!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy">THPT VÂN NỘI</iframe>
            </div>
        </div>
    </div>
</footer>