<img class="logo-school" src="http://vannoi.edu.vn/SiteFolders/thptvannoi/5063/banner/vannoi.jpg" alt="">
<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-uppercase" href="/">Trang chủ</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-uppercase small" href="#">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Tin Tức - Sự Kiện</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Thông Báo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Tuyển Sinh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Văn Bản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Lịch làm việc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Thông Báo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase small" href="#">Y tế học đường</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-uppercase small" href="/classes/create">Add Class</a>
      </li>
    </ul>
  </div>
</nav>